<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qicode.mylibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <!-- 接收短信 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- Ping++ SDK 注册 -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 支付宝 sdk -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <!-- 微信支付 -->
        <activity-alias
            android:name="com.qicode.mylibrary.activity.wxapi.WXEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />

        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <activity
            android:name="com.qicode.mylibrary.activity.TestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.qicode.mylibrary.activity.ExpertSignListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.qicode.mylibrary.activity.SignProductPreviewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.qicode.mylibrary.activity.ImitateActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.qicode.mylibrary.activity.VideoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.qicode.mylibrary.activity.SignPayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.qicode.mylibrary.activity.ExpertSignDetailActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.qicode.mylibrary.activity.UserLogInActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.qicode.mylibrary.activity.EnglishNameListActivity" />
    </application>

</manifest>
